body {
    background: #eee;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}
.btn {
    display: inline-block;
    background: red;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.whitebox {
    background: #fff;
    padding: 2em;
    margin: 2em;
}
.textbox {
    height: 200px;
    overflow: hidden;
    text-align: left;
}
.textbox.active {
    animation: Animation 5s linear 0s;
}
.message {
    opacity: 0;
}
.message.active {
    animation: textAnimation 1s linear;
}

@keyframes Animation { 
	0% {
        height: 200px;
	}
	98% {
	    height: 500px;
	}
	100% { height: 200px; }
}
@keyframes textAnimation { 
	0% {
        opacity: 0;
	}
	50% {
	    opacity: 1;
	}
	100% { opacity: 0; }
}